[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/Vectorized/solady
[submodule "lib/contracts-latest"]
	path = lib/contracts-latest
	url = https://github.com/Velocimeter/contracts-latest
[submodule "lib/libSVG"]
	path = lib/libSVG
	url = https://github.com/ColinPlatt/libSVG
